In [1]:
print("Welcome to the Day2 session on python")

Welcome to the Day2 session on python

In [117]:
#15 Table

a = 1
for i in range(1,11):
    print("15  * ",i, " = {}".format(15*i))

15  *  1  = 15
15  *  2  = 30
15  *  3  = 45
15  *  4  = 60
15  *  5  = 75
15  *  6  = 90
15  *  7  = 105
15  *  8  = 120
15  *  9  = 135
15  *  10  = 150

In [4]:
lst = ['correct',23,54, 'wrong',58,123]
for i in range(int(len(lst))):
    if lst[i] == 'wrong':
        break
    print(lst[i])

correct
23
54

In [7]:
year = int(input())
if year % 100 != 0 and year % 4 == 0 or year % 400 == 0:
    print(f"{year} is leap year")
else:
    print(f"{year} is not leap year")

1988
1988 is leap year

In [97]:
for i in range(0,5):
    print("*",end=' ')
for i in range(0,5):
    if i // 2 != 2:
        print("\n    *",end=' ')
print("\n\n")    

for i in range(0,5):
    print("*",end=' ')
    
    if i == 2:
        for m in range(0,4):
            print("*",end=' ')
            
    print("      ",end="*\n")

* * * * *
    *
    *
    *
    *


*       *
*       *
* * * * *       *
*       *
*       *

In [98]:
print(lst)

['correct', 23, 54, 'wrong', 58, 123]

In [99]:
print(lst[:2])

['correct', 23]

In [100]:
print(lst[1:])

[23, 54, 'wrong', 58, 123]

In [101]:
print(lst[3:5])

['wrong', 58]

In [102]:
#Accessing last element

print(lst[-1])

123

In [103]:
print(lst[-1:])

[123]

In [104]:
print(lst[-4:])

[54, 'wrong', 58, 123]

In [105]:
a = "hai"
print(a)

hai

In [108]:
a = "Hello"

In [109]:
print(a)

Hello

In [110]:
#Lists

del lst

In [111]:
lst = [1,2,3]
num = int(input("enter how many values u have to enter into list"))
for i in range(0,num):
    lst.append(input("Enter element to insert: "))

print(lst)

enter how many values u have to enter into list6
Enter element to insert: 34
Enter element to insert: 56
Enter element to insert: 78
Enter element to insert: 90
Enter element to insert: 12
Enter element to insert: 34
[1, 2, 3, '34', '56', '78', '90', '12', '34']

In [113]:
lst.remove(3)

In [114]:
lst

[1, 2, '34', '56', '78', '90', '12', '34']

In [115]:
lst.push(34767)

AttributeError: 'list' object has no attribute 'push'

In [116]:
company = "DXC Technology"
print(len(company))

14

In [118]:
print(a)

1

In [119]:
lst

[1, 2, '34', '56', '78', '90', '12', '34']

In [121]:
print(sum(lst))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [122]:
type(lst)

list

In [124]:
b = [1,2,3,4,5,6,7,8,9,10]
print(sum(b))

55

In [134]:
lst1 = [23,234,34,324,32434]
lst2 = [1,2,3,4,5,6,7,8,9,10]
finallst = lst1 + lst2
print(finallst)

[23, 234, 34, 324, 32434, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
print(a,b)

[23, 234, 34, 324, 32434] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [136]:
print(sum(finallst))
print(max(finallst))
print(min(finallst))
print(len(finallst))

33104
32434
1
15

In [137]:
d,e = [1,2,3],["fa","afsdf"]
print(d + e)

[1, 2, 3, 'fa', 'afsdf']

In [138]:
# Tuples

tpl,tpl1 = (1,2,3,4),(23,54,2,2,23,5)
print(tpl[-3:])

(2, 3, 4)

In [139]:
print(tpl1[-5:-1])

(54, 2, 2, 23)

In [140]:
tpl

(1, 2, 3, 4)

In [141]:
(*newtpl) = tpl

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-141-166ca06440f7>, line 1)

In [146]:
#unpacking
(tpl1, *tpl2) = tpl

In [147]:
tpl1

1

In [148]:
tpl

(1, 2, 3, 4)

In [149]:
tpl2

[2, 3, 4]

In [152]:
#List
lst = ["hai",12,342,"hello"]
Item = input("Enter item to add to list")
lst.append(Item)
print(lst)
lst.insert(0,"welcome")
print(lst)
# remove items
lst.remove("hai")
print(lst)
lst.pop(1)
print(lst)
lst[1] = "to Dxc"
print(lst)

Enter item to add to list12
['hai', 12, 342, 'hello', '12']
['welcome', 'hai', 12, 342, 'hello', '12']

In [155]:
# remove items
lst.remove("hai")
print(lst)

['welcome', 12, 342, 'hello', '12']

In [156]:
lst.pop(1)
print(lst)

['welcome', 342, 'hello', '12']

In [157]:
lst[1] = "to Dxc"
print(lst)

['welcome', 'to Dxc', 'hello', '12']

In [159]:
print(lst)

['welcome', 'to Dxc', 'hello', '12']

In [160]:
print(lst)

['welcome', 'to Dxc', 'hello', '12']

In [161]:
lst.insert(1,"surendra")
print(lst)

['welcome', 'surendra', 'to Dxc', 'hello', '12']